*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    --highlight-color: #1a2754;
    --secundair-font-color: white;
    --main-font-color: black;
}

.container{
    max-width: 1000px;
    width: 100vw;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    outline: none;
    background-color: var(--highlight-color);
    color: var(--secundair-font-color);
    border: none;
}