.header{
    width: 100vw;
    background-color: var(--highlight-color);
    display: flex;
    justify-content: space-between;
    color: var(--secundair-font-color);
}
.header img{
    width: 50px;
}
.header ul{
    display: flex;
    align-items: center;
}
.header li{
    margin: 0 1.5rem;
}